.contatti-container {
    flex: 1;
    min-width:200px; 
    border-left:4px solid #4acf50;
    padding-left:20px; 
    text-align: center;
    .contatti-title {
      margin-bottom: 10px;
      color: #dcdcdd;
      font-size: 2rem;
      border-bottom: 1px solid #2bab95;
      padding-bottom: 0.5rem;
    }
    p{color: #f0f0f0}
  
    .contatto-item {
      display: flex;
      align-items: center;
      margin-bottom: 0.8rem;
      gap: 0.8rem;
      color: #a18282;
  
      i {
        color: #3498db;
        width: 1.2rem;
        text-align: center;
      }
  
      .contatto-link {
        color: #ffffff;
        text-decoration: none;
        transition: color 0.3s;
        display: flex;
        align-items: center;
        gap: 0.8rem;
  
        &:hover {
          color: #e74c3c;
        }
      }
  
      .contatto-text {
        line-height: 1.4;
      }
    }
  
    @media (max-width: 768px) {
      .contatto-item {
        font-size: 0.9rem;
      }
    }
  }