<div class="follow-us-container" *ngIf="hasSocialLinks()">
  <h3 class="follow-us-title">Seguici</h3>
  <div class="social-links">
    <!-- Facebook -->
    <a 
      *ngIf="followUsData.socialLinks.facebook" 
      [href]="followUsData.socialLinks.facebook" 
      target="_blank" 
      class="social-link facebook"
      aria-label="Facebook"
    >
      <fa-icon [icon]="icons.facebook"></fa-icon>
    </a>

    <!-- Twitter -->
    <a 
      *ngIf="followUsData.socialLinks.twitter" 
      [href]="followUsData.socialLinks.twitter" 
      target="_blank"
      class="social-link twitter"
      aria-label="Twitter"
    >
      <fa-icon [icon]="icons.twitter"></fa-icon>
    </a>

    <!-- Instagram -->
    <a 
      *ngIf="followUsData.socialLinks.instagram" 
      [href]="followUsData.socialLinks.instagram" 
      target="_blank"
      class="social-link instagram"
      aria-label="Instagram"
    >
      <fa-icon [icon]="icons.instagram"></fa-icon>
    </a>

    <!-- LinkedIn -->
    <a 
      *ngIf="followUsData.socialLinks.linkedin" 
      [href]="followUsData.socialLinks.linkedin" 
      target="_blank"
      class="social-link linkedin"
      aria-label="LinkedIn"
    >
      <fa-icon [icon]="icons.linkedin"></fa-icon>
    </a>
  </div>

  <p class="follow-text">Resta connesso per aggiornamenti!</p>
</div>